<h1>Daily Jet Fuel Spot Prices </h1>

<table>
  <tr>
    <th>Date</th>
    <th>Spot Prices</th>
  </tr>


    <% @data["series"][0]["data"].each do |a , b| %>
  <tr>
      <td><%= Date.parse a %></td>
      <td><%= b %></td>
  </tr>
    <% end %>
</table>
